<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css?v={{ time }}">

</head>


<body>
    <div class="sidebar">
        <a href="/" class="{{ 'active' if section == 'form' else '' }}"><span>Capturing Form</span></a>
        <a href="/dashboard" class="{{ 'active' if section == 'home' else '' }}"><span>Dashboard</span></a>
        <a href="/dashboard/vodacom" class="{{ 'active' if section == 'vodacom' else '' }}"><span>Vodacom
                Dashboard</span></a>
        <a href="/dashboard/devices" class="{{ 'active' if section == 'devices' else '' }}"><span>Devices
                Dashboard</span></a>
    </div>


</body>

</html>