name: Deploy to production

on:
  push:
    branches:
      - main

jobs:
  ssh_test:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH connection
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 156.38.217.108
          username: henridewitt
          key: ${{ secrets.PCM_SSH_KEY }}
          script: |
            whoami
            hostname

      